{include file='header' /}
<body>
<div class="weadmin-body">
    <form class="layui-form" action="javascript:;" onsubmit="return dosub(this)">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="we-red">*</span>配置名称
            </label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="we-red">*</span>配置配型
            </label>
            <div class="layui-input-inline">
                <select name="fieldtype" class="select" style="width:230px" lay-filter="fieldtype">
                    <option value="textarea" selected>文本类型</option>
                    <option value="image">图片上传</option>
                    <option value="attachment">附件上传</option>
                    <option value="radio">radio选项卡</option>
                    <option value="select">option下拉框</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="we-red">*</span>配置值
            </label>
            <div class="layui-input-block">
                <span class="span_input" id="config_show">
                     <textarea name="value" class="layui-textarea"  placeholder="例如：214243830"></textarea>
                </span>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="title" class="layui-form-label">简洁说明
            </label>
            <div class="layui-input-block">
                <input type="text" id="title" name="title"  autocomplete="off" class="layui-input" placeholder="例如：这个是站点QQ" >
            </div>
        </div>
        <div class="layui-form-item">
            <label for="status" class="layui-form-label">是否启用</label>
            <div class="layui-input-block" id="status">
                <input type="radio" name="status" value="1" title="启用" checked>
                <input type="radio" name="status" value="0" title="禁用">
            </div>
        </div>


        <input type="hidden" name="dosubmit" value="1">

        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button class="layui-btn"  lay-submit="" >确定</button>
        </div>
    </form>
</div>
{include file='footer' /}
<script>
    layui.use(['layer', 'jquery', 'form'], function () {
        var layer = layui.layer,
            $ = layui.jquery,
            form = layui.form;
        form.on('select(fieldtype)', function(data){
            $.ajax({
                type: 'POST',
                url: '{:url('public_gethtml')}',
                data: 'fieldtype='+data.value,
                dataType: "html",
                success: function (msg) {
                    $('#config_show').html(msg);
                }
            })
        });
    });
    function dosub(obj) {
        var reg = /^[A-Za-z0-9]+$/;
        if($("input[name='name']").val()=='' || !reg.test($("input[name='name']").val())){
            layer.msg('配置名称必须为英文拼音或数字！');
            return false;
        }
        $.ajax({
            type: 'POST',
            url: '{:url('user_config_add')}',
            data: $(obj).serialize(),
            dataType: "json",
            success: function (msg) {
                if(msg.status == 1){
                    layer.msg(msg.message, {
                        icon: 1,
                        time: 2000
                    }, function(){
                        parent.location.reload();
                    });
                }else{
                    layer.msg(msg.message);
                }
            }
        });
        return false;
    }
</script>
</body>
</html>