{include file='header'/}
<body>
<div class="weadmin-body">
    <form class="layui-form" action="javascript:;" onsubmit="return dosub(this)">
        <div class="layui-form-item">
            <label for="rolename" class="layui-form-label">
                <span class="we-red">*</span>角色名
            </label>
            <div class="layui-input-block">
                <input type="text" id="rolename" name="rolename" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_sex" class="layui-form-label">是否启用</label>
            <div class="layui-input-block" id="L_sex">
                <input type="radio" name="disabled" value="0" title="启用" checked>
                <input type="radio" name="disabled" value="1" title="禁用">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label for="description" class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="description" name="description" class="layui-textarea"></textarea>
            </div>
        </div>
        <input type="hidden" name="dosubmit" value="1">
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button class="layui-btn"  lay-submit="" >确定</button>
        </div>
    </form>
</div>
</body>
{include file='footer'/}
<script>
    function dosub(obj) {
        $.ajax({
            type: 'POST',
            url: '{:url('add')}',
            data: $(obj).serialize(),
            dataType: "json",
            success: function (msg) {
                if(msg.status == 1){
                    layer.msg(msg.message, {
                        icon: 1,
                        time: 2000
                    }, function(){
                        parent.location.reload();
                    });
                }else{
                    layer.msg(msg.message);
                }
            }
        });
        return false;
    }
</script>