{include file='header'/}
<style>
    .layui-breadcrumb {visibility: visible;}
</style>
<body>


<div class="weadmin-nav">
			<span class="layui-breadcrumb">
       		 <a href="">首页</a><span lay-separator="">/</span>
        	<a href="">系统管理</a><span lay-separator="">/</span>
            <a><cite>后台操作日志</cite></a>
      </span>
    <a class="layui-btn layui-btn-sm" style="float:right;margin-top: 5px" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon">&#xe9aa;</i></a>
</div>
<div class="weadmin-body">
    <div class="layui-row demoTable" style="margin: 5px auto 15px">
        <div class="weadmin-block">
            <button class="layui-btn layui-btn-danger" onclick="WeAdminDel('{:url(\'admin_log/del_admin_log\',[\'dosubmit\'=>1])}')"><i class="layui-icon layui-icon-delete"></i>删除一个月之前的数据</button>
            <span class="fr" style="line-height:40px;padding-right: 10px;">共有数据：<span  id="total">{$total}</span> 条</span>
        </div>
        <table class="layui-table">
            <thead>
            <tr class="text-c">
                <th width="80">ID</th>
                <th width="15%">用户名</th>
                <th width="160">模块</th>
                <th>内容</th>
                <th width="150">时间</th>
                <th width="120">IP</th>
            </tr>
            </thead>
            <tbody>
            <?php
		foreach($data as $val){
		?>
            <tr class="text-c">
                <td><?php echo $val['id']?></td>
                <td><?php echo $val['adminname']?></td>
                <td><?php echo $val['module']?></td>
                <td><?php echo $val['querystring']?></td>
                <td><?php echo date('Y-m-d H:i:s', $val['logtime'])?></td>
                <td><?php echo $val['ip']?></td>
            </tr>
            <?php
		}
		?>
            </tbody>
        </table>

        <div class="mws-panel-content">
            <div class="list-page">
                {$data->render()|raw}
            </div>
        </div>
    </div>

    {include file='footer'/}
</body>
</html>
