{include file='../application/admin/view/header.html'/}

<body>
<div class="weadmin-body">
    <form class="layui-form" action="javascript:;" onsubmit="return dosub(this)" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="we-red">*</span>链接名称
            </label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" value="" lay-verify="required" autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">链接地址</label>
            <div class="layui-input-block">
                <input type="text" id="url" name="url" value="" autocomplete="off" class="layui-input" lay-verify="url|required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">链接类型</label>
            <div class="layui-input-inline">
                <select  name="linktype" style="width:230px;" id="linktype">
                    <option value="0">文字链接</option>
                    <option value="1">logo链接</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">logo地址</label>
            <div class="layui-input-block">
                <input type="text" id="logo" name="logo" value="" autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">站长姓名</label>
            <div class="layui-input-block">
                <input type="text" id="username" name="username" value="" autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <input type="text" id="listorder" name="listorder" value="" autocomplete="off" class="layui-input" >
            </div>
            <div class="layui-form-mid layui-word-aux">[从小到大排列]</div>
        </div>

        <div class="layui-form-item">
            <label for="status" class="layui-form-label">是否启用</label>
            <div class="layui-input-block" id="status">
                <input type="radio" name="status" value="1" title="启用" checked >
                <input type="radio" name="status" value="0" title="禁用" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <input type="hidden" name="dosubmit" value="1">
            <button class="layui-btn"  lay-submit=""type="submit" name="dosubmit">确定</button>
        </div>
    </form>
</div>

{include file='../application/admin/view/footer.html'/}

<script>
    function dosub(obj) {
        $.ajax({
            type: 'POST',
            url: '{:url('add')}',
            data: $(obj).serialize(),
            dataType: "json",
            success: function (msg) {
                if(msg.status == 1){
                    layer.msg(msg.message, {
                        icon: 1,
                        time: 2000
                    }, function(){
                        parent.location.reload();
                    });
                }else{
                    layer.msg(msg.message);
                }
            }
        });
        return false;
    }
</script>
</body>
</html>