{include file='../application/admin/view/header.html'/}
<style>
    .layui-breadcrumb {visibility: visible;}
    .layui-table th{text-align: center}
</style>
<body>
<div class="weadmin-nav">
			<span class="layui-breadcrumb">
       		 <a href="">首页</a><span lay-separator="">/</span>
        	<a href="">模块管理</a><span lay-separator="">/</span>
            <a><cite>友情链接管理</cite></a>
      </span>
    <a class="layui-btn layui-btn-sm" style="float:right;margin-top: 5px" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon">&#xe9aa;</i></a>
</div>


<div class="weadmin-body">
    <blockquote class="layui-elem-quote ">
        <b>前台调用方式：{adver(广告ID)}，例如广告ID为1的调用方式为：{adver(1)} </b>
    </blockquote>
    <div class="layui-row demoTable" style="margin: 5px auto 15px">
        <div class="weadmin-block">
            <a class="layui-btn" onclick="WeAdminShow('添加广告','{:url('add')}','800','500')" href="javascript:;"><i class="layui-icon layui-icon-add-circle-fine"></i>添加链接</a>
            <span class="fr" style="line-height:40px;padding-right: 10px;">共有数据：<span  id="total"><?php echo $total;?></span> 条</span>
        </div>
        <form method="post" action="{:url('order')}" id="myform">
            <table class="layui-table" style="text-align: center">
                <thead >
                <tr class="text-c">
                    <th >广告ID</th>
                    <th>名称</th>
                    <th>链接地址</th>
                    <th>类型</th>
                    <th>添加时间</th>
                    <th>管理操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach $data as $vo}
                <tr class="text-c">
                    <td>{$vo.id}</td>
                    <td><a href="{$vo.url}" target="_blank">{$vo.title}</a></td>
                    <td><a href="{$vo.url}" target="_blank">{$vo.url}</a></td>
                    <td>{if($vo.type==1)}文字形式{else}HTML代码{/if}</td>
                    <td>{$vo.inputtime|date="Y-m-d H:i:s"}</td>
                    <td>
                        <a class="layui-btn layui-btn-sm layui-btn-normal" onclick="WeAdminShow('编辑广告','{:url('update',['id'=>$vo.id])}','800','500')">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-sm" onclick="WeAdminDel('{:url('del_one',['id'=>$vo.id])}')">删除</a>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </form>
        <div class="mws-panel-content">
            <div class="list-page">
                {$data->render()|raw}
            </div>
        </div>

    </div>
</div>
{include file='../application/admin/view/footer.html'/}